{% extends 'base.html' %} 
{% block body_class %}scroll-locked{% endblock %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-header">
    {% if cat %}
        <h1>Edit {{ object.title }}</h1>
    {% else %}
        <h1></h1>
    {% endif %}
    <img src="{% static 'images/bookworm.svg' %}" alt="A bookworm icon" class="bookicon"/>
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
