{% extends 'base.html' %} 
{% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'css/themes/theme-index.css' %}" />
{% endblock %} 

{% block body_class %}scroll-locked{% endblock %}

{% block content %}
<section class="theme-page-header">
  <h1>All Papers Themes and Keywords</h1>
  <!-- <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
  <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
  <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
  <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" /> -->
</section>

<section class="theme-card-container">
  {% for theme in theme_list %}
    <div class="card" style="border-color: {{ theme.color }}">
      <div class="card-bg" style="background-color: {{ theme.color }}"></div>
      <a href="{% url 'theme-detail' theme.id %}">
        <div class="theme-card-content">
          <h2>{{theme.theme_name}}</h2>
          <p>{{theme.keywords}}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
