{% extends 'base.html' %} 
{% block body_class %}scroll-locked{% endblock %}
{% load static %} 
{% block head %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %} 
{% block content %}

  <div class="page-header">
    {% if object %}
      <h1>Edit {{ object.get_theme_display }}</h1>
      <p>Date: {{ object.theme_name }}</p> 
    {% else %}
      <h1>Select the Theme and Keywords Associated with the paper</h1>
    {% endif %}
    <!-- <img src="{% static 'images/status-icon.svg' %}" alt="Status Icon" /> -->
  </div>

  <form action="" method="post" class="form-container" autocomplete="off">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>

{% endblock %}
