{% extends 'base.html' %} 
{% load static %} 
{% block head %}
    <link rel="stylesheet" href="{% static 'css/themes/theme-index.css' %}" />
{% endblock %} 

{% block body_class %}scroll-locked{% endblock %}

{% block content %}
<div class="theme-title-container">
  <img src="{% static 'images/brain.svg' %}" alt="A pink brain" class="tiny-icon" />
  <img src="{% static 'images/dna.svg' %}" alt="A double stranded dna" class="tiny-icon" />
  <img src="{% static 'images/gendata.svg' %}" alt="A genetic emblem" class="tiny-icon"/>
  <h2 class="h2">My library's Themes
</h2>
</div>

<section class="theme-keywords-container">
  {% for theme in theme_list %}
    <div class="card" style="border-color: {{ theme.color }}">
      <div class="card-bg" style="background-color: {{ theme.color }}"></div>
      <a href="{% url 'theme-detail' theme.id %}">
        <div class="theme-card-content">
          <h2>{{theme.theme_name}}</h2>
          <h3>{{theme.keywords}}</h3>
        </div>
      </a>
    </div>
  {% endfor %}
</section>
</div>
{% endblock %}
