{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/researchpapers/researchpaper-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="researchpaper-container">
  <div class="researchpaper-img">
    <!-- You can include an image related to the research paper if available -->
    <img src="{% static 'images/bookworm.svg' %}" alt="Book Person Icon" />
  </div>
  <div class="researchpaper-details">
    <h1>{{ researchpaper.title }}</h1>
    <h2>Authors: {{ researchpaper.authors }}</h2>
    <h3>Journal: {{ researchpaper.journal }}</h3>
    <p>Published on: {{ researchpaper.publication_date }}</p>
    <p>{{ researchpaper.major_findings }}</p>
    <div class="researchpaper-actions">
        <a href="{% url 'researchpaper-update' researchpaper.id %}" class="btn warn">Edit</a>
        <a href="{% url 'researchpaper-delete' researchpaper.id %}" class="btn danger">Delete</a>
      </div>
    </div>

  </div>
</section>
{% endblock %}
