{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/researchpapers/researchpaper-detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidenave.css' %}" />
{% endblock %}

{% block content %}

<div class="sidenav-container">
    <div class="sidenave">
        <img src="{% static 'images/library-books.svg' %}" alt="stacked books" class="sidenav-icon">
        {% if user.is_authenticated %}
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'researchpaper-index' %}">Research Articles List</a>
            {% for researchpaper in researchpapers %}
                <a href="{{ researchpaper.get_absolute_url }}" class="research-title">{{ researchpaper.title }}</a>
            {% endfor %}
            <a href="{% url 'researchpaper-create' %}">Add a Paper</a>
            <a href="{% url 'theme-create' %}">Add a Theme</a>
            <a href="{% url 'theme-index' %}">Themes</a>
            {% for theme in themes %}
                <!-- <a href="{{ theme.get_absolute_url }}" class="theme-title">{{ theme.theme_name }}</a> -->
            {% endfor %}
        {% else %}
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'home' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div>
  </div>
  
  {% if user.is_authenticated %}
  <div class="user-initial-circle">
      <p>{{ user.username|slice:":1" }}</p>
  </div>
  {% endif %}



    <section class="researchpaper-container">
        <div class="researchpaper-img">
            <!-- Optionally include an image related to the research paper -->
        </div>
    
        <div class="researchpaper-header">
            <div class="researchpaper-details">
                <h1><img src="{% static 'images/books.svg' %}" alt="blue books" class="tiny-icon" width="100px" /><span></span>{{ researchpaper.title }}</h1>
                <h3><span style="font-weight: normal;">{{ researchpaper.authors }}</span></h3>
                <h3>{{ researchpaper.journal }}</h3>
                <p>Published on: {{ researchpaper.publication_date }}</p>
                <p>URL: <a href="{{ researchpaper.url }}">{{ researchpaper.title }}</a></p>
            </div>
            <div class="researchpaper-actions">
                <a href="{% url 'researchpaper-update' researchpaper.id %}" class="btn warn">Edit</a>
                <a href="{% url 'researchpaper-delete' researchpaper.id %}" class="btn danger">Delete</a>
            </div>
        </div>
        <p class="major-findings">{{ researchpaper.major_findings }}</p>
        <p class="major-findings">{{ researchpaper.entire_paper }}</p>
    </section>

    <section class="themes-container">
        <div class="subsection-title">
            <h2>Themes</h2>
        </div>
        <div class="theme-keywords-container">
            {% if researchpaper.themes.count %}
                {% for theme in researchpaper.themes.all %}
                    <div class="theme-container">
                        <a href="{% url 'theme-detail' theme.id %}">
                            <!-- <h2 class="theme-card-content">{{ theme.theme_name }}</h2>
                            <h3 class="theme-kw-content">{{ theme.keywords }}</h3> -->
                        </a>
                        <form action="{% url 'remove-theme' researchpaper.id theme.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn danger"> x {{ theme.theme_name }}</button>
                        </form>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h3>Available Themes</h3>
        <div class="theme-keywords-container">
            {% if themes.count %}
                {% for theme in themes.all %}
                    <div class="theme-container">
                        <a href="{% url 'theme-detail' theme.id %}">
                            <!-- <h2 class="theme-card-content">{{ theme.theme_name }}</h2>
                            <h3 class="theme-kw-content">{{ theme.keywords }}</h3> -->
                        </a>
                        <form action="{% url 'associate-theme' researchpaper.id theme.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn submit">+ {{ theme.theme_name }}</button>
                        </form>
                    </div>
                {% endfor %}
            {% else %}
                <p class="all-theme">{{ researchpaper.title }} already contains all topics</p>
            {% endif %}
        </div>
    </section>
</div>




    
<div class="comments-and-themes">
    <div class="comments-section">
        <h2 class="title-for-comments">Annotations</h2>
        <div class="comments-form">
            {% if researchpaper.comment_set.all.count %}
                <ul>
                    {% for comment in researchpaper.comment_set.all %}
                        <li>
                            <h3><span style="font-weight: normal;">{{ comment.date|date:"F j, Y" }}:</span> {{ comment.note }}</h3>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="subsection-content">
                    <p>There are no comments on this research paper yet!</p>
                </div>
            {% endif %}
            <form action="{% url 'add-comment' researchpaper.id %}" method="post" autocomplete="off">
                {% csrf_token %}
                {{ comment_form.as_p }}

                <button type ="submit" class = "btn submit2">
                    <img src="{% static 'images/comments.svg' %}" alt="comment bubble" class="tiny-icon"/>
            </button>
            </form>
        
            
        </section>
    </div>

    
{% endblock %}
