{% extends 'base.html' %} 
{% load static %} 
{% block head %}

<link rel="stylesheet" href="{% static 'css/researchpapers/researchpaper-index.css' %}"/>
{% endblock %} 
{% block content %}

<h2 class="h2">📚 My library</h2>
<section class="page-header">

</section>

<section class="card-container">
  {% for researchpaper in researchpapers %}
    <div class="card">
      <a href="{% url 'researchpaper-detail' researchpaper.id %}">
        <div class="card-content">
            <!-- Optionally include an image here -->
          </div>
          <h2 class="card-title">{{ researchpaper.title }}</h2>
          <p class="authors"><strong><u>Authors:</u></strong> {{ researchpaper.authors }}</p>
          <p class="publication_date">Published on: {{ researchpaper.publication_date }}</p>
          <p class="major_findings"><small>{{ researchpaper.major_findings }}</small></p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
