
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/booklove.svg' %}"/>
    <!-- Page Title -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidenave.css' %}">
    {% block head %} 
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

    <div class="sidenav-container">
        <div class="sidenave">
            <img src="{% static 'images/library-books.svg' %}" alt="stacked books" class="sidenav-icon">
            {% if user.is_authenticated %}
            <a href="{% url 'home' %}">
                <img src="{% static 'images/home.svg' %}" alt="Home icon" style="width: 25px; height: 25px; margin-right: 5px;" /> 
                Home
            </a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'researchpaper-index' %}"> My Research Library</a>
                    {% for researchpaper in researchpapers %}
                        <a href="{{ researchpaper.get_absolute_url }}" class="research-title">{{ researchpaper.title }}</a>
                    {% endfor %}
                <a href="{% url 'researchpaper-create' %}">Add a Paper</a>
                <a href="{% url 'theme-create' %}">Add a Theme</a>
                <a href="{% url 'theme-index' %}">Themes</a>
                    {% for theme in themes %}
                     <a href="{{ theme.get_absolute_url }}" class="research-title">{{ theme.theme_name }}</a>
                {% endfor %}
                <div class="logout-container">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn submit">Log out</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'home' %}">Login</a>
                <a href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="user-initial-circle">
        <p>{{ user.username|slice:":1" }}</p>
    </div>
    {% endif %}

    <main>

        {% block content %} 
        {% endblock %}
    </main>
</body>
</html>