
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/booklove.svg' %}"/>
    <!-- Page Title -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidenave.css' %}">
    {% block head %} 
    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

    <div class="sidenav-container">
        <div class="sidenave">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'researchpaper-index' %}">Research Articles List</a>
            {% for researchpaper in researchpapers %}
            <a href="{{ researchpaper.get_absolute_url }}" class="research-title">{{ researchpaper.title }}</a>
            {% endfor %}
            <a href="{% url 'researchpaper-create' %}">Add a Paper</a>
            <a href="{% url 'status-create' %}">Show Progress</a>
            <a href="{% url 'status-index' %}">All Details</a>

        </div>
    </div>

    <header class="header">
        <!-- <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'researchpaper-index' %}">Research Articles List</a></li>
                <li><a href="{% url 'researchpaper-create' %}">Add a Paper</a></li>
                <li><a href="{% url 'status-create' %}">Show Progress</a></li>
                <li><a href="{% url 'status-index' %}">All Details</a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <!-- <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'researchpaper-index' %}">Research Articles List</a></li>
                <li><a href="{% url 'researchpaper-create' %}">Add a Paper</a></li>
                <li><a href="{% url 'status-create' %}">Show Progress</a></li>
                <li><a href="{% url 'status-index' %}">All Details</a></li>
            </ul>
        </nav> -->
        {% block content %} 
        {% endblock %}
    </main>
</body>
</html>



 <!-- <img src="{% static 'images/article.svg' %}" alt="Research Article Selected" /> -->