.sidenave {
    height: 100%; 
    width: 250px; 
    position: fixed; 
    z-index: 1000; 
    top: 0; 
    left: 0; 
    /* left: -250px; */
    background-color: #d3e2ff; 
    overflow-x: hidden; 
    padding-top: 20px; 
    border-right: 1px solid #263b64;
    
    /* transition: left 0.3s ease;  */
}

.sidenave1{
    font-weight: bold;
}

.sidenave2{
    font-weight: bold;
}

.sidenave a {
    padding: 10px 20px; 
    text-decoration: none;
    font-size: 20px; 
    color: #263b64; 
    display: block;

}
.sidenave a:hover {
    color: black; 
    font-weight: bold;
}

.sidenave .research-title {
    font-size: 14px; 
    padding-left: 32px; 
    color: black;
}
