.researchpaper-container {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.researchpaper-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.researchpaper-details {
    max-width: 70%; /* Adjust the width to your liking */
}

.researchpaper-actions {
    display: flex;
    gap: 10px;
}

.researchpaper-actions a {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.researchpaper-actions .warn {
    background-color: #d3e2ff;
    color: white;
    font-size: large;
}

.researchpaper-actions .danger {
    background-color: #d3e2ff;
    color: white;
    font-size: large;
}

.researchpaper-details h1,
.researchpaper-details h3,
.researchpaper-details p {
    margin: 3px 0;
    padding: 0;
}

.researchpaper-details h1 {
    font-size: 2em;
    margin-bottom: 3px;
}

.researchpaper-details h3 {
    font-size: 1.3em;
    margin-bottom: 1px;
}

.researchpaper-details h3 span {
    font-size: 1.1em;
}

.researchpaper-details p {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.major-findings {
    font-size: 1.6em !important;
    margin-top: 40px !important;
    margin-bottom: 65px !important;
    line-height: 1.5 !important;
    max-width: 800px !important;
    border: 1.5px solid black;
    border-radius: 8px;
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #d3e2ff; 

}

.title-for-comments {
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;

}
body {
    margin-left: 250px;
    background-color: #8eace9;
}


.comments-section {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 800px;
    background-color: transparent;
}

.comments-and-themes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}