/* Allow scrolling on the research index page */
body, html {
    position: static !important; /* Override fixed positioning */
    overflow: auto !important; /* Enable scrolling */
    height: auto !important; /* Allow the height to grow based on content */
}

.card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 275px;
    margin: 10px;
    border: 1.5px solid black;
    /* box-shadow: 2px 2px 2px lightpink; */
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    /* overflow: visible; */
    background-color: rgb(227, 180, 11);
}

.card-content {
    padding: 10px;
    width: 100%;
    background-color: orange;
}

.usr-img {
    width: 25%;
    border-radius: var(--card-border-radius);
}

.card > a {
    text-decoration: none;
    color: var(--text-color);
}

.card h2 {
    margin: 10px 0;
    font-size: var(--font-l);
}

.card p {
    margin: 5px 0;
    font-size: var(--font-reg);
}

.card-title {
    color: rgb(12, 140, 225);
}

.authors {
    color: rgb(133, 103, 103);
}

.h2 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


  
  .card-content {
    padding: 10px;
    width: 100%;
    background-color: rgba(135, 215, 225, 0);
  }
  
  .usr-img {
    width: 25%;
    border-radius: var(--card-border-radius);
  }
  
  .card > a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: var(--font-l);
  }
  
  .card p {
    margin: 5px 0;
    font-size: var(--font-reg);
  }


 
  .card p {
    margin: 5px 0;
    font-size: var(--font-reg);
  }










  .card-container {
    padding: 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  

  .page-header{
    display: flex;
    margin-left: 20px;
  }
  

  .card-title {
    color: rgb(12, 140, 225);
  }
  
  .authors {
    color: rgb(133, 103, 103);
  }

  .h2 {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }



  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* --nav-bg: rgba(104, 197, 248, 0.7); */
    /* --nav-bg-ff: rgba(104, 197, 248, 0.9); */
    /* --borders: rgb(36, 116, 248) solid 2px; */
    /* --text-color: rgb(17, 20, 17); */
    /* --link-hover-color: rgb(16, 56, 158);
    --button-bg: rgb(245, 245, 245);
    --button-bg-hover: rgb(226, 226, 226);
    --submit: rgb(64, 72, 220);
    --warn: rgb(255, 102, 0);
    --danger: rgb(220, 20, 30);
    --secondary: rgb(57, 57, 57); */
    /* --card-box-shadow: 5px 5px 6px -1px #aaa; */
    --font-xtreme: 4.2rem;
    --font-xxl: 3.6rem;
    --font-xl: 2.4rem;
    --font-l: 1.8rem;
    --font-reg: 1.6rem;
    --card-border-radius: 6px;
} 


